<div class="permissions-container">
    <div class="user-permissions">
        <table class="user-permission-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>User permissions</th>
                </tr>
            </thead>
            <tbody>

            </tbody>

        </table>
    </div>
    <div class="moderator-permissions">
        <table class="user-permission-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Moderator permissions</th>
                </tr>
            </thead>
            <tbody>

            </tbody>

        </table>

    </div>
    <div class="admin-permissions">
        <table class="user-permission-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Admin permissions</th>
                </tr>
            </thead>
            <tbody>

            </tbody>

        </table>

    </div>

</div>
